@font-face {
    font-family: Machina ;
    src: url('/assets/fonts/NeueMachinaBold.ttf');

    font-family: Gotham Pro ;
    src: url('/assets/fonts/gothampro_medium.ttf')
}

.golova, .header_link, .razrabotka, .digital {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
}

.proect, .glavnoe {
    font-family: 'Machina';
    font-style: normal;
    font-weight: 700;
}

.golova {
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
     
    font-size: 32px;
    line-height: 130%;
    
    color: #252525}
    
    .tech {
        color: #5364FF}

    ul.nav {
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
       
        margin-left: 717px;
        margin-top: -6.5vh;
       
        width: 488px;
        height: 19px;
       
        letter-spacing: -0.03em;
        }

    ul.nav li {
        display: flex;
        text-decoration: none;}

    .header_link:hover, .header_link:focus, .header_link:active {opacity: 0,75;}
    .header_link {color: #252525}
    .header_link {text-decoration: none;}
    .header_link {
        font-size: 15px;
        line-height: 130%;}

    .proect {
        display: flex;
        margin-top: 0vh;
        margin-left: 1vw;
        justify-content: center;
        align-items: center;
       
        width: 127px;
        height: 30px;
       
        border-left: 8px;

        text-decoration: none;
        
        font-size: 14px;
        line-height: 16px;
        
        color: #ffffff;
           
        background-color: #5364FF;
        border: none;
        border-radius: 15px;}
     
    .glavnoe {
        display: flex;
        margin-top: 30vh;
        margin-left: 200px;
        
        width: 801px;
        height: 176px;
        
        font-size: 160px;
        line-height: 110%;

        letter-spacing: -5px;

        color: #252525;
    }

    .razrabotka {
        display: flex;

        margin-top: 2vh;
        margin-left: 13vw;
       
        width: 198px;
        height: 22px;
       
        font-size: 20px;
        line-height: 110%;

        text-decoration-line: underline;
        text-decoration-color: rgb(207, 207, 207);

        color: #252525;}
    
    .digital {
        display: flex;

        margin-top: -3vh;
        margin-left: 28vw;
        
        width: 64px;
        height: 22px;
              
        font-size: 20px;
        line-height: 110%;
        
        text-decoration-line: underline;
        text-decoration-color: rgb(207, 207, 207);
        
        color: #252525;
        }

        .background-image {
           display: flex;
            margin-left: 56vw;
            margin-top: -52vh;

            width: 600px;
            height: 790px;
                      
            background-image: url("../img/shnur.jpg");
        
            transform: rotate(4deg);}

        .footer {
            display: flex;
            height: 10px;
            align-items: flex-end;   
            
            margin-top: -5vh;
        }
